In [1]:
"""This script generates an Excel file from a YAML file containing employee planning data.

Modules:
    os: Provides a way of using operating system dependent functionality.
    sys: Provides access to some variables used or maintained by the interpreter.
    planning.config: Contains configuration settings for employee restrictions.
    planning.employee: Contains functions for creating and managing employee data.

Functions:
    load_employees_from_yaml: Loads employee data from a YAML file.
    create_employees_with_dates: Creates employee data with associated dates.
    init_employees_by_shifts: Initializes employees by their shifts.
    load_planning_from_yaml: Loads planning data from a YAML file.
    modify_index_to_datetime: Modifies the index of a DataFrame to datetime.
    generate_excel: Generates an Excel file from employee data.
    create_transposed_dataframe: Creates a transposed DataFrame from employee data.
    generate_summary: Generates a summary of employee data.
    generate_transposed_excel_with_styles: Generates a styled transposed Excel file from employee data.

Variables:
    year: The year for which the planning data is generated.
    start_date: The start date for the planning data.
    script_path: The absolute path of the current script.
    root_path: The root path of the project.
    employees_file: The path to the YAML file containing employee data.
    planning_file: The path to the YAML file containing planning data.
    generated_xlsx_from_yaml: The path to the generated Excel file without styles.
    generated_employees_xlsx_from_yaml: The path to the generated Excel file with styles.
    employees: The loaded employee data.
    employees_info: The employee data with associated dates.
    dates: The dates associated with the employee data.
    all_employees_by_shift: The initialized employees by their shifts.
    transposed_employees_info: The transposed employee data with summary.
This script generates an excel file from a yaml file.
"""
import os
import sys

module_path = os.path.abspath(os.path.join("..", ".."))
sys.path.insert(0, module_path)

from planning.employee import (  # noqa: E402
    create_employees_with_dates,
    create_transposed_dataframe,
    generate_excel,
    generate_summary,
    generate_transposed_excel_with_styles,
    init_employees_by_shifts,
    load_planning_from_yaml,
    load_employees_from_yaml,
    modify_index_to_datetime,
    load_config,
)

year = 2025
case = "case_1"
start_date = f"{year}-01-01"
script_path = os.path.abspath("")
root_path = os.path.join(script_path, "..", "..", "..")

employees_file = os.path.join(root_path, "data", "2025", case, "employees.yaml")
planning_file = os.path.join(root_path, "data", "2025", case, "data.yaml")
config_file = os.path.join(root_path, "data", "2025", case, "config.json")
generated_xlsx_from_yaml = os.path.join(
    root_path, "output", "2025", case, "planning_generated_without_styles_from_yaml.xlsx"
)
generated_employees_xlsx_from_yaml = os.path.join(
    root_path, "output", "2025", case, "planning_generated_from_yaml.xlsx"
)
config = load_config(config_file)
employee_restrictions = config["employee_restrictions"]

employees = load_employees_from_yaml(employees_file, employee_restrictions)
employees_info, dates = create_employees_with_dates(start_date, 365, employees)
all_employees_by_shift = init_employees_by_shifts(dates, employee_restrictions)

load_planning_from_yaml(employees_info, planning_file)

modify_index_to_datetime(all_employees_by_shift)
modify_index_to_datetime(employees_info)

generate_excel(employees_info, generated_xlsx_from_yaml)

transposed_employees_info = create_transposed_dataframe(employees_info)
transposed_employees_info = generate_summary(employees, employee_restrictions, transposed_employees_info)

generate_transposed_excel_with_styles(
    transposed_employees_info, employee_restrictions, generated_employees_xlsx_from_yaml
)

In [2]:
employees_info

               E1 E2 E3 E4 E5 E6

Enero     X 1   D  D  T  T  M  M
          J 2   M  M  T  T  D  D
          V 3   M  M  T  T  D  D
          S 4   M  M  D  D  V  T
          D 5   M  M  D  D  V  T
...            .. .. .. .. .. ..
Diciembre S 27
          D 28
          L 29
          M 30
          X 31

[365 rows x 6 columns]

In [3]:
transposed_employees_info

      Enero                             ... Diciembre                     THT  \
          X  J  V  S  D  L  M  X  J  V  ...         J  V  S  D  L  M  X
          1  2  3  4  5  6  7  8  9 10  ...        25 26 27 28 29 30 31
E1        D  M  M  M  M  D              ...                              30.0
E2        D  M  M  M  M  D              ...                              30.0
E3        T  T  T  D  D  M              ...                              30.0
E4        T  T  T  D  D  M              ...                              30.0
E5        M  D  D  V  V  T              ...                              15.0
E6        M  D  D  T  T  T              ...                              30.0
Total     4  4  4  3  3  4  0  0  0  0  ...         0  0  0  0  0  0  0   NaN

           MH    Diff


E1     1852.5  1822.5
E2     1852.5  1822.5
E3     1852.5  1822.5
E4     1852.5  1822.5
E5     1852.5  1837.5
E6     1852.5  1822.5
Total     NaN     NaN

[7 rows x 368 columns]